Repository maneesh888/just-spent: changes, and which Codecov flags are due for each by the changed paths.
All: android-unit, ios

.codecov.yml:

codecov:
  require_ci_to_pass: yes

# Coverage targets
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 100%
        threshold: 0%
        base: auto
        if_ci_failed: error

    patch:
      default:
        target: 100%
        threshold: 0%
        base: auto

# Flags for different platforms
flags:
  android-unit:
    paths:
      - android/app/src/main/
    carryforward: true

  ios:
    paths:
      - ios/JustSpent/JustSpent/
    carryforward: true

# Comment configuration
comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

# Ignore paths
ignore:
  - "**/*Test*.kt"
  - "**/*Test*.swift"
  - "**/test/**"
  - "**/tests/**"
  - "**/androidTest/**"
  - "**/*UITests*"
  - "**/*Tests*"
  - "**/Pods/**"
  - "**/build/**"
  - "**/DerivedData/**"
  - "**/*.pb.swift"
  - "**/*.generated.swift"

# GitHub Checks
github_checks:
  annotations: true

fix(ios): Add defensive guard to prevent array out of bounds crash in CurrencyInitializationTests
  ios/JustSpent/JustSpentTests/CurrencyInitializationTests.swift
Due: none

test(ios): Add automated test script to verify crash fix
  test-crash-fix.sh
Due: none

fix(ios): Update Xcode project configuration for shared resources
  ios/JustSpent/JustSpent.xcodeproj/project.pbxproj
Due: none

fix(ios): Prevent array out of bounds crash in CurrencyInitializationTests (#67)
  ios/JustSpent/JustSpent.xcodeproj/project.pbxproj
  ios/JustSpent/JustSpentTests/CurrencyInitializationTests.swift
  test-crash-fix.sh
Due: none

fix(android): Fix currency symbol detection for multi-character symbols
  android/app/src/main/java/com/justspent/expense/data/model/Currency.kt
Due: android-unit

fix: Resolve iOS crash and Android currency detection issues (#68)
  android/app/src/main/java/com/justspent/expense/data/model/Currency.kt
Due: android-unit

docs: Optimize CLAUDE.md for lazy loading to reduce token consumption
  CLAUDE.md
Due: none

docs: Optimize CLAUDE.md for lazy loading to reduce token consumption (#69)
  CLAUDE.md
Due: none

refactor: Clean up codebase and standardise structure
  .claude/settings.local.json
  docs/ARCHITECTURE_OVERVIEW.md
  docs/AUTO_RECORDING_DEBUG_GUIDE.md
  docs/KNOWN_ISSUES.md
  docs/LOCAL-CI.md
  docs/LOCALIZATION-TESTING.md
  docs/MIGRATION_GUIDE.md
  docs/MULTI_CURRENCY_ARCHITECTURE.md
  docs/PAGINATION-README.md
  docs/PAGINATION_STATUS.md
  docs/TESTING-GUIDE.md
  docs/android-assistant-integration.md
  docs/archive/CLAUDE-BACKUP-20251205.md
  docs/archive/DOCUMENTATION_CLEANUP_SUMMARY.md
  docs/archive/TOKEN-OPTIMIZATION-REPORT.md
  docs/comprehensive-test-plan.md
  docs/data-models-spec.md
  docs/ios-siri-integration.md
  docs/just-spent-master-plan.md
  docs/superclaude-integration.md
  docs/ui-design-spec.md
  ios/JustSpent/JustSpent/ContentView.swift
  ios/JustSpent/JustSpent/JustSpentApp.swift
  ios/JustSpent/JustSpent/Services/VoiceTransactionManager.swift
  ios/JustSpent/JustSpentTests/VoiceTransactionManagerTests.swift
  just-spent
  just-spent-master-plan.md
  scripts/android/diagnose-currency.sh
  scripts/android/run_ui_tests.sh
  scripts/android/test.sh
  scripts/fix-ios-currency-references.sh
  scripts/ios/test.sh
  scripts/ios/test_siri.sh
  scripts/local-ci.sh
  scripts/test-crash-fix.sh
  scripts/test-google-assistant-final.sh
Due: ios

feat: Allow beta/alpha/test releases from feature branches
  .github/workflows/deploy-android.yml
  .github/workflows/deploy-ios.yml
Due: none

feat: Add Gemini voice integration with custom scheme deep links
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/justspent/expense/ui/voice/VoiceDeepLinkActivity.kt
  android/app/src/main/java/com/justspent/expense/ui/voice/VoiceExpenseActivity.kt
  android/app/src/main/res/xml/actions.xml
  android/app/src/main/res/xml/shortcuts.xml
Due: android-unit

chore: Bump version to 1.0.0-beta.5 for Gemini integration testing
  android/app/build.gradle.kts
  ios/JustSpent/JustSpent/Info.plist
Due: ios

chore: Bump version to 1.0.0-beta.4 for Gemini integration release
  android/app/build.gradle.kts
  ios/JustSpent/JustSpent/Info.plist
Due: ios

chore: Add temporary docs to gitignore
  .gitignore
Due: none

feat: Add Gemini voice integration with custom scheme deep links (#64)
  .github/workflows/deploy-android.yml
  .github/workflows/deploy-ios.yml
  .gitignore
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/justspent/expense/ui/voice/VoiceDeepLinkActivity.kt
  android/app/src/main/java/com/justspent/expense/ui/voice/VoiceExpenseActivity.kt
  android/app/src/main/res/xml/actions.xml
  android/app/src/main/res/xml/shortcuts.xml
  ios/JustSpent/JustSpent/Info.plist
Due: android-unit, ios

feat: Implement Android lazy loading pagination (GREEN phase)
  android/app/src/androidTest/kotlin/com/justspent/expense/ExpensePaginationTest.kt
  android/app/src/main/java/com/justspent/expense/data/dao/ExpenseDao.kt
  android/app/src/main/java/com/justspent/expense/data/repository/ExpenseRepository.kt
  android/app/src/main/java/com/justspent/expense/ui/expenses/ExpenseListViewModel.kt
Due: android-unit

docs: Update PAGINATION_STATUS.md to reflect Android completion
  PAGINATION_STATUS.md
  android/app/src/androidTest/kotlin/com/justspent/expense/ExpensePaginationTest.kt
  android/app/src/main/java/com/justspent/expense/ui/expenses/CurrencyExpenseListScreen.kt
Due: android-unit

docs: Add comprehensive pagination feature documentation
  PAGINATION-README.md
  docs/LAZY-LOADING-PAGINATION-SPEC.md
  docs/PAGINATION-IMPLEMENTATION-TRACKER.md
Due: none

test: Add pagination tests for iOS and Android (TDD RED phase)
  android/app/src/androidTest/kotlin/com/justspent/expense/ExpensePaginationUITest.kt
  android/app/src/androidTest/kotlin/com/justspent/expense/TestDataHelper.kt
  android/app/src/test/java/com/justspent/expense/ExpensePaginationTest.kt
  ios/JustSpent/JustSpentTests/ExpensePaginationTests.swift
  ios/JustSpent/JustSpentUITests/ExpensePaginationUITests.swift
  ios/JustSpent/JustSpentUITests/TestDataHelper+Pagination.swift
Due: none

fix(ios): use correct accessibility identifier for app title in tests
  ios/JustSpent/JustSpentUITests/TestDataHelper.swift
Due: none

test: Enhance test data with 180 expenses for pagination testing
  android/app/src/androidTest/kotlin/com/justspent/expense/TestDataHelper.kt
  ios/JustSpent/JustSpent/Common/Utilities/TestDataManager.swift
Due: none

docs: document iOS UI test fix for 119 failing tests
  KNOWN_ISSUES.md
Due: none

test: Add pagination tests for iOS and Android (TDD RED phase)
  android/app/src/test/java/com/justspent/expense/ExpensePaginationTest.kt
Due: none

docs: rename conflicting README files to resolve Xcode build error
  DOCUMENTATION_CLEANUP_SUMMARY.md
  shared/legal/LEGAL.md
  shared/test-data/MIGRATION_GUIDE.md
  shared/test-data/TEST_DATA.md
Due: none

docs(ios): add ViewModel pagination tests and document UI test issues
  PAGINATION_STATUS.md
  ios/JustSpent/JustSpentTests/ExpenseListViewModelPaginationTests.swift
  ios/JustSpent/JustSpentUITests/TestDataHelper+Pagination.swift
Due: none

debug: Add NSLog statements to track Currency loading in UI tests
  PAGINATION_STATUS.md
  ios/JustSpent/JustSpent.xcodeproj/project.pbxproj
  ios/JustSpent/JustSpent/Common/Utilities/TestDataManager.swift
  ios/JustSpent/JustSpent/ContentView.swift
  ios/JustSpent/JustSpent/JustSpentApp.swift
  ios/JustSpent/JustSpent/Models/Currency.swift
  ios/JustSpent/JustSpent/Services/ExpenseRepository.swift
  ios/JustSpent/JustSpent/ViewModels/ExpenseListViewModel.swift
  ios/JustSpent/JustSpent/Views/CurrencyExpenseListView.swift
  ios/JustSpent/JustSpentTests/ExpensePaginationTests.swift
  ios/JustSpent/JustSpentUITests/ExpensePaginationUITests.swift
  ios/JustSpent/JustSpentUITests/FloatingActionButtonUITests.swift
  ios/JustSpent/JustSpentUITests/TestDataHelper+Pagination.swift
Due: ios

test: increase wait time and add NSLog for pagination UI test debugging
  ios/JustSpent/JustSpentUITests/TestDataHelper+Pagination.swift
Due: none

fix(tests): resolve iOS UI test failures and Android compilation errors
  PAGINATION_STATUS.md
  android/app/src/test/java/com/justspent/expense/ExpensePaginationTest.kt
  ios/JustSpent/JustSpent/Common/Utilities/TestDataManager.swift
  ios/JustSpent/JustSpent/JustSpentApp.swift
  ios/JustSpent/JustSpentUITests/TestDataHelper.swift
Due: ios

test: add detailed failure message to pagination UI test
  ios/JustSpent/JustSpentUITests/TestDataHelper+Pagination.swift
Due: none

fix: prioritize Bundle.main for currency loading in UI tests
  ios/JustSpent/JustSpent/Models/Currency.swift
Due: ios

docs: Update PAGINATION_STATUS.md with dd0b267 fix pattern application
  PAGINATION_STATUS.md
Due: none

fix(ios): skip ExpensePaginationUITests temporarily - multi-currency view rendering issue
  ios/JustSpent/JustSpentUITests/TestDataHelper+Pagination.swift
Due: none

docs: update PAGINATION_STATUS with accurate iOS investigation results
  PAGINATION_STATUS.md
Due: none

fix(ios): use staticTexts element type for view state detection in pagination tests
  ios/JustSpent/JustSpent/Views/SingleCurrencyView.swift
  ios/JustSpent/JustSpentUITests/TestDataHelper+Pagination.swift
Due: ios

fix(android): disable broken pagination tests temporarily
  android/app/src/androidTest/kotlin/com/justspent/expense/ExpensePaginationTest.kt.disabled
  android/app/src/androidTest/kotlin/com/justspent/expense/ExpensePaginationUITest.kt.disabled
Due: none

test: Mark 2 flaky Android UI tests as @Ignore for CI stability
  android/app/src/androidTest/kotlin/com/justspent/expense/EditExpenseUITest.kt
  android/app/src/androidTest/kotlin/com/justspent/expense/MultiCurrencyWithDataTest.kt
Due: none

fix(tests): Resolve critical test failures - iOS UI tests and Android compilation (#70)
  DOCUMENTATION_CLEANUP_SUMMARY.md
  KNOWN_ISSUES.md
  PAGINATION-README.md
  PAGINATION_STATUS.md
  android/app/src/androidTest/kotlin/com/justspent/expense/EditExpenseUITest.kt
  android/app/src/androidTest/kotlin/com/justspent/expense/ExpensePaginationTest.kt.disabled
  android/app/src/androidTest/kotlin/com/justspent/expense/ExpensePaginationUITest.kt.disabled
  android/app/src/androidTest/kotlin/com/justspent/expense/MultiCurrencyWithDataTest.kt
  android/app/src/androidTest/kotlin/com/justspent/expense/TestDataHelper.kt
  android/app/src/main/java/com/justspent/expense/data/dao/ExpenseDao.kt
  android/app/src/main/java/com/justspent/expense/data/repository/ExpenseRepository.kt
  android/app/src/main/java/com/justspent/expense/ui/expenses/CurrencyExpenseListScreen.kt
  android/app/src/main/java/com/justspent/expense/ui/expenses/ExpenseListViewModel.kt
  docs/LAZY-LOADING-PAGINATION-SPEC.md
  docs/PAGINATION-IMPLEMENTATION-TRACKER.md
  ios/JustSpent/JustSpent.xcodeproj/project.pbxproj
  ios/JustSpent/JustSpent/Common/Utilities/TestDataManager.swift
  ios/JustSpent/JustSpent/ContentView.swift
  ios/JustSpent/JustSpent/JustSpentApp.swift
  ios/JustSpent/JustSpent/Models/Currency.swift
  ios/JustSpent/JustSpent/Services/ExpenseRepository.swift
  ios/JustSpent/JustSpent/ViewModels/ExpenseListViewModel.swift
  ios/JustSpent/JustSpent/Views/CurrencyExpenseListView.swift
  ios/JustSpent/JustSpent/Views/SingleCurrencyView.swift
  ios/JustSpent/JustSpentTests/ExpenseListViewModelPaginationTests.swift
  ios/JustSpent/JustSpentTests/ExpensePaginationTests.swift
  ios/JustSpent/JustSpentUITests/ExpensePaginationUITests.swift
  ios/JustSpent/JustSpentUITests/FloatingActionButtonUITests.swift
  ios/JustSpent/JustSpentUITests/TestDataHelper+Pagination.swift
  ios/JustSpent/JustSpentUITests/TestDataHelper.swift
  shared/legal/LEGAL.md
  shared/test-data/MIGRATION_GUIDE.md
  shared/test-data/TEST_DATA.md
Due: android-unit, ios

fix: Force test re-execution with --rerun-tasks for coverage
  .github/workflows/ci-android.yml
Due: none
